option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Backend.settings"
    "PYTHONPATH": "/opt/python/current/app/Backend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: Backend/Backend/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"